thunar/.config/Thunar/accels.scm
thunar/.config/Thunar/renamerrc

xfce-terminal/.config/xfce4/terminal/accels.scm
xfce-terminal/.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
xfce-terminal/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml

openbox/.config/openbox/rc.xml
openbox/.config/openbox/menu.xml
openbox/.config/openbox/menu.xml.bak

obmenu-generator/.config/obmenu-generator/cache.db
obmenu-generator/.config/obmenu-generator/icons.db

geany/

bin/bin/dailyprogrammer-dl






